.remove-button {
  background-color: #88140C;
  color: #FFF;
  border: none;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-decoration: none;
  line-height: 1;
  width: 20rem;
}